!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js")
    script(src="/socket.io/socket.io.js",type='text/javascript')
    script(src="/javascripts/jquery.js",type='text/javascript')
    script(src="/javascripts/jquery.flot.js",type='text/javascript')
    script(src="http://code.highcharts.com/highcharts.js")
    script(src="http://code.highcharts.com/modules/exporting.js")
  body
    
    section#wrapper!= body
        div#graph(style="width:600px;height:300px;")
        script(type='text/javascript')
          var socket = io.connect();           
          var chart = null;
          function addChartData(chartData) {
            if(chart != null && chartData.pc != null) {                
              var index = serieIndex(chartData.pc);
              var series; 
              if(index >= 0) {
                series = chart.series[index];
              } else {
                series = addNewSerie(chartData.pc);
              }
              var x = new Date(chartData.dat).getTime();
              var y = chartData.cpu * 100;                             
              series.addPoint([x, y], true, false);              
            }
          };
        
          chart = new Highcharts.Chart({
            chart: {
              renderTo: 'graph',
              type: 'spline',
              marginRight: 10,
              events: addChartData(null)
            },
            title: {
              text: 'CPU Usage Webservice1'
            },
            xAxis: {
              type: 'datetime',
              tickPixelInterval: 100
            },
            yAxis: {
              min: 0,
              max: 100,
              tickInterval: 20,
              title: {
                text: 'CPU %'
              },
              plotBands: [{ // Light air
                from: 80,
                to: 100,
                color: 'rgba(255, 0, 0, 0.2)',
                label: {
                    text: 'Critical',
                    style: {
                        color: '#606060'
                    }
                }
              }]
            },
            plotOptions: {
                spline: {
                    lineWidth: 1,
                    marker: {
                        enabled: false
                    },
                    states: {
                        hover: {
                            lineWidth: 3
                        }
                    },
                }
            },
            tooltip: {
              enabled: false,
              formatter: function() {
                  return '<b>'+ this.series.name +'</b><br/>'+
                  Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) +'<br/>'+
                  Highcharts.numberFormat(this.y, 2);
              }
            },
            legend: {
              enabled: true
            },
            exporting: {
              enabled: false
            },
            series: [{
              name: 'pc1',
              data: (function() {
                // generate an array of random data
                var data = [],
                time = (new Date()).getTime(),
                i;
                for (i = -1; i <= 0; i++) {
                  data.push({
                    x: time + i * 10000,
                    y: Math.random() * 100
                  });
                }
                return data;
              })()
            }]
          });
          function serieIndex(seriesName) {
              for (var i = 0; i < chart.series.length; i++) {
                if(chart.series[i].name == seriesName) {
                  return i;
                }
              }
              return -1;
          }
          function addNewSerie(newName) {
            return chart.addSeries({
              name: newName,
              data: (function() {
                // generate an array of random data
                var data = [],
                  time = (new Date()).getTime(),
                  i;
                for (i = -1; i <= -0; i++) {
                  data.push({
                    x: time + i * 10000,
                    y: Math.random() * 100
                  });
                }
                return data;
              })(),
              id: Math.floor(Math.random()*1000)
            });
            chart.redraw();
          }
          socket.on('chart', function (chartdata) { 
              alert(JSON.stringify(chartdata.chartData));
              addChartData(chartdata.chartData);
          });


